.auth_doc_container {
  width: 80vw;
  margin: auto;
  min-height: 100vh;
  padding: 40px 0px 0px 40px;
  display: flex;

  @media screen and (min-width: 1441px) {
      max-width: 1440px;
    }

  .auth_doc_contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0px 0px 60px 40px;

    .heading {
      display: flex;
      align-items: center;

      .heading_title {
        text-decoration: underline;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        margin-left: 30px;
      }
    }
    .main_description {
      font-size: 14px;
      margin: 30px 0px 40px 0px;
      width: 85%;
    }
    .auth_flow_img {
      width: 85%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .auth_endpoints_container {
      width: 100%;
      margin-top: 60px;

      .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 20px;
      }

      .headers {
        background-color: #131313;
        height: 40px;
        display: flex;
        flex-grow: 1;
        width: 100%;
      }

      table {
        width: 100%;

        thead {
          background: #181818;
          color: #ffffff;

          tr {
            width: 100%;
            td {
              padding: 10px 0 5px 20px;

              &:nth-child(1) {
                position: relative;
                width: 15%;
                border-right: 1px solid #cccccc;
              }
              &:nth-child(2) {
                position: relative;
                width: 17%;
                border-right: 1px solid #cccccc;
              }
              &:nth-child(3) {
                position: relative;
                width: 22%;
                border-right: 1px solid #cccccc;
              }
              &:nth-child(4) {
                position: relative;
                width: 23%;
                border-right: 1px solid #cccccc;
              }
              &:nth-child(5) {
                position: relative;
                width: 23%;
                border-right: 0px;
              }
            }
          }
        }
      }
    }
    .api_flows_container {
        margin-top: 60px;
        
        .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 20px;
      }
      .flow_img {
          margin-top: 20px;
          img {
              width: 80%;
          }
      }
    }
  }

  @media screen and (max-width: 640px) {
    width: 100vw;
  padding: 40px 0px 0px 0px;

    .auth_doc_contents {
    padding: 0px 0px 60px 10px;

    .heading {
      .heading_img {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .main_description {
      margin: 10px 0px 40px 0px;
      width: 95%;
    }
    .auth_endpoints_container {
      .table_scroll {
        width: 95vw;
        overflow-x: auto;
      }
    }
    }
  }

  @media screen and (min-width: 641px) {}
}
