.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
  padding-bottom: 90px;

  

  .heading {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 853px;
    margin-top: 80px;
  }
  .details {
    width: 500px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .community_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 383.5px;

    .community_link {
      cursor: pointer;
      width: 100%;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #cccccc;
      box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.09);

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 20px;
      }

      img {
        width: 150px;
        height: 56px;
      }
    }
  }

  @media screen and (max-width: 647px) {
    padding-bottom: 10px;

    .heading {
      font-size: 42px;
      line-height: 50px;
      text-align: center;
      width: 90%;
      margin-top: 50px;
    }
    .details {
      width: 90%;
      font-size: 16px;
    }
  }
//   @media screen and (min-width: 648px) and (max-width: 1000px) {
//     .details {
//       width: 92%;
//       font-size: 18px;
//     }
//   }
}
