.all_apis_container {
  width: 80vw;
  margin: auto;
  padding: 40px 0px 0px 40px;
  display: flex;

  @media screen and (min-width: 1441px) {
      max-width: 1440px;
    }

  .all_apis_contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0px 0px 60px 40px;

    .searchbar_container {
      width: 100%;
      height: 50px;
      border: 1px solid #cccccc;
      display: flex;

      .searchicon {
        width: 45px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #cccccc;

        img {
          width: 30.61px;
          height: 30.61px;
        }
      }
      .input_container {
        height: 100%;
        flex-grow: 1;

        input {
          height: inherit;
          width: 100%;
          border: none;
          outline: none;
          padding: 0px 20px;
          margin-right: 10px;
        }
      }
      .submit_container {
        height: 100%;
        margin-top: 4px;
        margin-right: 4px;

        .submit_btn {
          width: 110px;
          height: 40px;
          background: #181818;
          border: 0px;
          border-radius: 0px;
          color: #fff;
          cursor: pointer;
        }
      }

    }

    .dropdown_container {
      margin-top: 30px;
      height: 41.66px;
      width: 157.52px;
      border: 1px solid #181818;
      display: flex;
      align-items: center;

      .dropdown {
        width: 100%;
        margin: 0px;
        text-align: center;
        color: #181818;
      }

      .dropdownicon {
        margin-left: 10px;
      }
    }

    .list_contents {
      display: flex;
      width: 100%;
      margin-top: 15px;
      flex-direction: column;
    }
    .button_container {
      display: flex;
      justify-content: center;
      width: 100%;

      button {
        width: 180px;
        height: 55.89px;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: #181818;
      }
    }
  }

  @media screen and (max-width: 600px) {
    width: 100vw;
    padding: 40px 0px 0px 0px;

    .all_apis_contents {
      padding: 0px 10px 60px 10px;

      .searchbar_container {
        .searchicon {
        width: 40px;

        img {
          width: 18px;
          height: 18px;
        }
      }
      .input_container {

        input {
          padding: 0px 10px;
          margin-right: 5px;
        }
      }
      .submit_container {
        .submit_btn {
          width: 70px;
          height: 40px;
        }
      }
      }
    }
  }
}
