footer {
  margin-top: 50px;
  
  .footer_container {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    .company_links {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
      }
      ul {
        padding: 0;

        li {
          margin: 15px auto;

          .footer_link {
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            color: #181818;
          }
        }
      }
    }
    .form_container {
      .form_group {
        .form_label {
          font-weight: bold;
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 14px;
        }
        .form_input_container {
          position: relative;
          width: 340px;
          height: 35px;
          background: #ffffff;
          border: 1px solid #cccccc;

          .input_form {
            width: 100%;
            height: 100%;
            padding-right: 98px;
            padding-left: 10px;
            outline: none;
            border: none;
          }
          .submit_form_btn {
            position: absolute;
            top: 3px;
            right: 3px;
            height: 28px;
            outline: none;
            border: none;
            background: #181818;
            color: #fff;
            padding: 0 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .footer_note {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 100px;
      border-top: 0.8px solid #cccccc;
  }

  @media screen and (max-width: 647px) {
    .footer_container {
      // flex-direction: column;
      flex-wrap: wrap;
      padding: 0px 10px;
      justify-content: space-around;
      align-items: center;

      .logo {
        padding: 0px 0px 40px 0px;
      }

      .company_links {
      display: flex;
      flex-direction: column;
      position: relative;
      top: 72px;

      .title {
        font-size: 24px;
      }
      ul {
        padding: 0;

        li {
          margin: 25px 0px;

          .footer_link {
            font-size: 18px;
          }
        }
      }
    }
    .form_container {
      @media screen and (max-width: 647px) {
      margin-top: 50px;
      }
      .form_group {
        margin-bottom: 30px;

        .form_label {
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 18px;
        }
        .form_input_container {
          position: relative;
          width: 100%;
          height: 40px;

          .submit_form_btn {
            position: absolute;
            top: 2px;
            right: 2px;
            height: 34px;
            font-size: 16px;
          }
        }
      }
    }
    }
    .footer_note {
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding: 10px 0px;

      .footer_credit {
        order: 2;
      }

      .social {
        order: 1;
      }
  }
  }
}
