tbody {
  .table_data {
    font-size: 13px;
    width: 100%;

    &:nth-child(odd) {
      background-color: #eeeeee;
    }

    .post_column {
      position: relative;

      .post_bg {
        background: #49ce93;
      }
      .get_bg {
        background: #67B0FD;
      }
      .put_bg {
        background: #FCA13E;
      }

      .method_css {
        position: absolute;
        top: 20px;
        color: #ffffff;
        border-radius: 4px;
        width: 70px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 12%;
      }
    }

    .col2_container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 25px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      width: 90%;
      word-wrap: break-word;

      .col2 {
        color: #131313;
        text-decoration: underline;
        text-align: center;
        width: 16ch;
      }
    }
    .col3_container {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      padding-bottom: 20px;

      span {
        &:nth-child(1) {
          font-weight: bold;
        }
        &:nth-child(2) {
            width: 20ch;
        }
      }
    }
    .logo_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 20px;
    }
    .logo_container2 {
      display: flex;
      width: 140px;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      padding-top: 10px;

      img {
        width: 50px;
        margin: 5px;
      }
    }
    .dual_items {
        display: flex;
        align-items: center;

        div {
            &:nth-child(2) {
                margin-left: 20px;
            }
        }
    }
  }
}
