* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: "Roboto Mono", monospace;
  color: #181818;
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;

  .link {
    color: #181818;
  }

  ul {
    list-style-type: none;
  }

  h2{
    margin: 0 !important;
  }

  @media screen and (min-width: 1441px) {
    .nav_desktop_container,
    .footer_desktop_container,
    .desktop_container {
      max-width: 1440px;
      margin: auto;
    }
  }
}


.desktop_container {
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 3rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333333 #fff;
  
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 20px;
  border: 3px solid #fff;
}
